body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1,
h2 {
    text-align: center;
}

.input-section,
.input-section-deposit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.input-section {
    border: solid 2px red;
}

.input-section-deposit {
    margin-top: 10px;
    border: solid 2px green;
}

.input-section label,
.input-section-deposit label {
    font-weight: bold;
    margin-right: 10px;
}

.input-section input[type="number"],
.input-section-deposit input[type="number"],
.input-section input[type="date"],
.input-section-deposit input[type="date"] {
    padding: 5px;
    margin-right: 10px;
}

.input-section button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.input-section-deposit button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#account-balance{
    margin-bottom: 15px;
    border: solid 2px #0055CC;
    width: 350px;
    font-size: 25px;
    padding: 15px;
}

.expenses-list {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0055CC;
    color: white;
}

tfoot td {
    font-weight: bold;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}